* {
 font-size: 40pt;
 background-color: yellow;   
}

p.klasa_nieuniwersalna_sosiński {
    font-size: 33pt;
    color: purple;
}

.klasa_nieuniwersalna_sosiński {
    font-size: 31pt;
    color: green;
}