

#blok_sosi_1:hover {
	background-color: red;
	font-size: 20mm;
}

#blok_sosi_2:hover {
	background-color: orange;
	font-size: 20mm;
}
#blok_sosi_3:hover {
	background-color: yellow ;
	font-size: 20mm;
}
